#HeadingDiv{
    width : 100%;
    background: orange;
    height: 50px;

}

#FileContainer{
    padding : 100px;
    width : 100%;
    font-family: sans-serif;
    /* background : yellow; */
}

.barDropDown{
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
}