<form class="form-view" id="sign-up-form">
        <div data-editors="name">
            <input placeholder="name" class="form-control" name="name">
            <div class="invalid-feedback">invalid name</div>
        </div>
        <div data-editors="email">
            <input placeholder="email" class="form-control" name="email">
            <div class="invalid-feedback">invalid name</div>
        </div>
        <div data-editors="password">
            <input placeholder="password" class="form-control" name="password" type="password">
            <div class="invalid-feedback">invalid name</div>
        </div>
        <div data-editors="confirm-password">
            <input placeholder="confirm password" class="form-control" name="confirm-password" type="password">
            <div class="invalid-feedback">invalid name</div>
        </div>
        <button value="submit" class="btn btn-default">Sign Up</button>
</form>