<div class="bbm-modal__topbar">
  <h3 align="center" class="bbm-modal__title"></h3>
</div>
<div class="bbm-modal__section bb">
  <form class="form-inline" id="share_form">
    <input name="email" placeholder="email" class="form-control" type="email"/>
    <select class="form-control" name="action">
      <option value="READ" selected="true">READ</option>
      <option value="WRITE">WRITE</option>
      <option value="DELETE">DELETE</option>
      <option value="GRANT">GRANT</option>
    </select>
    <button class="btn btn-default" value="submit">Share</button>
  </form>
  <div id="shared_user_list"></div>
</div>
<div class="bbm-modal__bottombar">
  <a href="#" class="bbm-button">close</a>
</div>